.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: var(--header-bg-color);

  & > a {
    color: var(--header-text-color);
    text-decoration: none;
  }

  & :hover {
    color: var(--header-text-hover);
    transition: all .5s;
  }
}