
.global__container {
  margin: auto;
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
}

.container {
  padding: 2rem;
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
}
