
.footer {
  background-color: var(--color-black);
  max-width: var(--container-max-width);
  min-width: var(--container-min-width);
  width: 100%;
}

.footer__wrap{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 3rem;

  & .footer__title{
    font-size: var(--font-size-sm);
    color: var(--color-gray-7);
  }
  & .footer__copylight{
    font-size: var(--font-size-xs);
    color: var(--color-gray-5);
  }
}